body {
    background-color: #4f2cfb;
    font-family: 'Times New Roman', Times, serif;
    color:white
}
h1 {
    text-align: center;
}
.randomCat {
    width: 30em;
    height: 15em;
    border:2px solid white;
}
#btnMoreCats:hover {
    background-color: #8353b8;
    color:white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#btnMoreCats {
    background-color:white;
    color:black;
    border: 2px solid #8353b8;
    text-align: center;
    padding: 15px 32px;
    transition-duration: 0.4s;
}
#figureBtn {
    text-align: center;
}
#btnFavoriteCats:hover{
    background-color: #5151eb;
    color:white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.btnAddFavorite{
    background-color:gold;
    color:black;
    text-align: center;
    padding: 15px 15px;
}
#btnFavoriteCats{
    background-color:white;
    color:black;
    border: 2px solid #5151eb;
    text-align: center;
    padding: 15px 32px;
    transition-duration: 0.4s;
}
.favoriteCat{
    width: 10em;
    height: auto;
    border: 2px solid white;
}